
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.min.css">
</head>
<body>
    

<header class="header">
    <a href="#" id="logo"> <span><b>Nasstec Airnet Networks</b></span></a>
    <nav class="navbar">
        <a href="#">home</a>
        <a href="#">Services</a>
        <a href="#">gallery</a>
        <a href="#">pakages</a>
        <a href="#">contact us</a>
       
    </nav>
    <div class="icons">
        <a href="#" id="menu-bars" class="fas fa-bars"></a>
    </div>
</header>

<div class="background-image">
    
    <div class="inner-text-background">
        <img src="images/img1.jpg" width="1920"height="600"alt="">
        <h2>Welcome to
            Nasstec Airnet Networks</h2>
            <p>We are the best services provider with high customer satisfaction from last 15 years in different Telecommunication sectors.</p>
        
    </div>
</div>

<div class="what-we-do">
    <div class="main-we-do">
        <div class="inner-we-do">
            <h1>What we do</h1>
             <p>Nasstec Airnet Networks PVT LTD offers different services related to Telecommunications, like Internet Services, IPTV solutions, VSAAS and network security services.</p>
            <a href="#" id="we-do-button">Read more</a>
        </div>

        <div class="inner-we-do we-do-image">
                <img src="images/setting.png" alt="">
        </div>
    </div>
</div>

<!-- our services -->

<div class="our-servies">
    <h1>Our <span>services</span></h1>

    <div class="main-services">


        <div class="inner-services">
            <div class="service-icons">
                
            </div>
            <h1>Internet Services</h1>
            <p>We are the reliable internet service provider in 5 cities with FTTH technology in both sectors ( Residential and Corporate).</p>
        </div>

        <div class="inner-services">
            <div class="service-icons">
                
            </div>
            <h1>IPTV Solutions</h1>
            <p>We provide IPTV services over fiber optic to our residential and corporate clients with HD quality. We also offers reseller panel to different retailers. </p>
        </div>

        <div class="inner-services">
            <div class="service-icons">
                
            </div>
            <h1>VSAAS</h1>
            <p>Nasstec Airnet Networks also provide a service of video surveillance as a service, with this our customers are enables to remotely manage their videos in the cloud.</p>
        </div>

        <div class="inner-services">
            <div class="service-icons">
                
            </div>
            <h1>Network Security Services</h1>
            <p>Network security is most important thing in every network in any organization, so Nasstec Airnet Networks is always willing to secure your network from different threats and attacks. </p>
        </div>

        

        


    </div>
</div>


<!-- gallery -->


<div class="gallery">
    <h1>Our <span>gallery</span></h1>
    <div class="main-gallery">
        <div class="inner-gallery">
            <img src="images/g1.jpg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="images/g2.jpg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="images/g3.jpg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="images/g4.jpg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="images/g5.webp" alt="">
        </div>

        <div class="inner-gallery">
            <img src="images/g6.jpg" alt="">
        </div>
    </div>
</div>


<!-- our prices -->
<div class="our-prices">
    <h1>our <span>pakages</span></h1>

    <div class="main-prices">
        <div class="inner-prices">

            <div class="price-heading">
                <h2>Ice</h2>
                <p>4 Mbps</p>
            </div>
            <div class="price-text">
                <p>* 4 Mbps downloading</p>
                <p>* 4 Mbps uploading</p>
            </div>
            <div class="inner-price-heading">
                <h2><span>1399</span>Pkr</h2>
            </div>
            

            <a href="#">See Detail</a>

        </div>

        <div class="inner-prices">

            <div class="price-heading">
                <h2>Cyclone</h2>
                <p>8 Mbps</p>
            </div>
            <div class="price-text">
                <p>* 8 Mbps downloading</p>
                <p>
                    * 8 Mbps uploading
                </p>
            </div>

            <div class="inner-price-heading">
                <h2><span>2199</span>Pkr</h2>
            </div>
            <a href="#">See Detail</a>

        </div>

        <div class="inner-prices">

            <div class="price-heading">
                <h2>Typhoon</h2>
                <p>16 Mbps</p>
            </div>
            <div class="price-text">
                <p>* 16 Mbps downloading</p>
                <p>* 16 Mbps uploading</p>
            </div>

            <div class="inner-price-heading">
                <h2><span>2999</span>Pkr</h2>
            </div>
            <a href="#">See Detail</a>

        </div>

        <div class="inner-prices">

            <div class="price-heading">
                <h2>Thunder</h2>
                <p>30 Mbps</p>
            </div>
            <div class="price-text">
                <p>* 30 Mbps downloading</p>
                <P>* 30 Mbps uploading</P>
            </div>

            <div class="inner-price-heading">
                <h2><span>3999</span>Pkr</h2>
            </div>
            <a href="#">See Detail</a>

        </div>

    </div>
</div>






<!-- get in touch -->

<div class="get-in-touch">
    <h1>get in touch</h1>
    <div class="main-touch">
        <p>work with us</p>
        <p>oysowais@gmail.com</p>

        
    </div>
</div>






















    <script src="script.js"></script>


    <!-- icons
    <i class="fas fa-signal"></i>
    <i class="fas fa-cogs"></i>
    
    
    
    -->
</body>
</html>